#jinja2: lstrip_blocks: "True"
# {{ ansible_managed }}
{% for dataset in sanoid_datasets %}
{% set dataset_name = dataset.pop('name') %}
[{{ dataset_name }}]
    {% for key, value in dataset.items() %}
    {{ key }} = {{ value }}
    {% endfor %}
{% endfor %}

# Templates

{% for template in sanoid_templates %}
{% set template_name = template.pop('name') %}
[template_{{ template_name }}]
    {% for key, value in template.items() %}
    {{ key }} = {{ value }}
    {% endfor %}
{% endfor %}
